<!--Redirect in 5 seconds-->
<meta http-equiv="refresh" content="5,url=/"/>
<p>
  An email has been sent to {{confirm_email}}.
</p>
<p>
  Thank you so much for your interest, {{confirm_name}}.
</p>
<p>
  <a href = "/">Click here to add a friend's email address.</a>
</p>
