<style>
html{
  background-image: url("../images/fw2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
}

.card {height: 130px; background-color: orange; }
.preface_content{padding-top: 40px;}
.content-container{padding-left: 50px;}
</style>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
    </div>

    <div class="mdl-grid">
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="content-container mdl-color--white mdl-shadow--4dp content mdl-cell mdl-cell--4-col">
        <div class = "preface_content">
          <p>Welcome to my email landing page</p>
          <p>Please sign up for future emails and updates below</p>
        </div>

        <form action= "/" method = "post">
          <div class = "mdl-textfield mdl-js-textfield">
            <input class = "mdl-textfield__input" type = "text" placeholder = "email" name = "email"></input>
            <input class = "mdl-textfield__input" type = "text" placeholder = "name" name = "name"></input>
            <br>
            <br>
            <br>
            <button class = "mdl-button mdl-jsbutton mdl-button--raised mdl-js-ripple-effect">
              Subscribe
            </button>

          </div>
        </form>
      </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
      <div class="mdl-cell mdl-cell--6-col"></div>
    </div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="card mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script type = "text/javascript">
  function clearFormFields(){
    $(document).getElementsByName("email").value = "";
    $(document).getElementsByName("name").value = "";
  }

  var socket = io();
  var visitorData = {
    referringSite: document.referrer,
    page: location.pathname,
    userClient: navigator.userAgent,
    browserType: navigator.vendor,
    sessionStart: new Date()
  };

  socket.emit("visitor-data", visitorData);

</script>
